

{% extends 'templates/base.html' %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="heroo" class="heroo d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h3 data-aos="fade-up" style="text-align: justify;">{{_("مؤسسه عالم جديد لتقنيـــة المعلومـــات")}}</h3>
             <h1 data-aos="fade-up" style="text-align: justify;">
               {{_("جميع متطلباتك من التقنيات تحت سقف واحد")}}</h1>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>{{_("البدأ")}}</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="/assets/trigger_solutions/trigger/assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>{{_("من نحن ؟")}}</h3>
              <h2 style="text-align: justify;">{{_("مؤسسة عالم جديد لتقنيـــة المعلومـــات إحدى المؤسسات الرائدة بالمملكة العربية السعودية مقرها الرئيسي مدينة الرياض كمؤسسة سعودية ،")}}</h2>
              <p style="text-align: justify;">
                {{_("تعمل مؤسسة عالم جديد لتقنيـــة المعلومـــات على دعم وتسخير خدماتها في مجال السوفت وير والأنظمة الأمنية لخدمة عملائها الكرام في القطاعين الحكومي والقطاع الخاص والمساهمة في تطوير الاعمال وتنميتها لمواكبة آخر المخرجات التقنية المبتكرة من سوفت وير ونقاط البيع وتتبع مركبات وحضور وانصراف وكاميرات مراقبة وأجهزة فتح الأبواب بالبصمة ومستلزمات الشبكات والسنترالات وغيرها وتسعي مؤسسة عالم جديد لتقنيـــة المعلومـــات باحترافية لتقديم خدمتها والتي تتمحور في التركيز على تقديم خدمة متميزة تناسب احتياجات العميل كما تحرص مؤسسة عالم جديد لتقنيـــة المعلومـــات على تقديم أسعار تنافسية تتناسب مع إمكانيات العملاء مع ضمان جودة الأداء . كما توفر البيئة المناسبة للعملاء لتطبيق أراءهم وأفكارهم وتحقيق رغباتهم وتحويل أساليب إنجاز أعمالهم من النظام التقليدي إلى نظام تقني حديث يعتمد كليا على استخدام أجهزة الحاسب المدعومة بالبرامج والأنظمة المتطورة باستمرار .")}}
              </p>
             
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="/assets/trigger_solutions/trigger/assets/img/about.jpeg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <p>{{_("خدماتنا")}}</p>
          <p>{{_("نقدم خدمات الفاتورة الالكترونية")}}</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <div class="post-box">
              <div class="post-img"><img src="/assets/trigger_solutions/trigger/assets/img/portfolio/low/low-1.jpeg" class="img-fluid" alt=""></div>
              <h3 class="post-title">{{_("أنظمه التيار الخفيف")}}</h3>
              <a href="low-current.html" class="readmore stretched-link mt-auto"><span>{{_("التفاصيل")}}</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

      

          <div class="col-lg-6">
            <div class="post-box">
              <div class="post-img"><img src="/assets/trigger_solutions/trigger/assets/img/portfolio/erp/erp-1.png" class="img-fluid" alt=""></div>
              <h3 class="post-title">{{_("برامج وأنظمة الإدارة للشركات")}} (ERP)</h3>
              <a href="erp.html" class="readmore stretched-link mt-auto"><span>{{_("التفاصيل")}}</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Recent Blog Posts Section -->
  
    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2></h2>
          <p>{{_("لماذا يثق العملاء فى مؤسسة عالم جديد لتقنيـــة المعلومـــات ")}}</p>
          <p>{{_("نقدم خدمات الفاتورة الالكترونية")}}</p>
        </header>
       
        <div class="row">

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="/assets/trigger_solutions/trigger/assets/img/values-1.png" class="img-fluid" " alt="">
              <h3>{{_("الجـــــــودة والضمـــــــان")}}</h3>
              <p style="text-align: justify;">{{_("نحرص على تقديم أعلى معايير الجودة و الضمان على جميع منتجاتنا لرضى العميل , حيث ذلك جزء أساسي من قيمنا")}}</p>
            </div>
          </div>

          <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="/assets/trigger_solutions/trigger/assets/img/values-2.png" class="img-fluid" alt="">
              <br>
              <h3>{{_("فريـــق عمـــل متقــدم")}}</h3>
              <p style="text-align: justify;">{{_("فريق عمل متقدم يضم مجموعة من المهندسين و الفنيين في خدمة العملاء ووضع جميع خبراتهم بين يدي العميل في كافة المجالات الأمنية والتقنية")}}</p>
            </div>
          </div>

          <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="/assets/trigger_solutions/trigger/assets/img/values-3.png" class="img-fluid" alt="">
              <h3>{{_("تصريــح وزارة الداخليـــة")}}</h3>
              <p style="text-align: justify;">{{_("مؤسسة عالم جديد لتقنيـــة المعلومـــات  حاصلة على تصريح وزارة الداخلية و ثقة قيادتنا في تنفيذ جميع المشاريع الحكومية الخاصة")}}</p>
            </div>
          </div>

          <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="800">
            <div class="box">
              <img src="/assets/trigger_solutions/trigger/assets/img/values-4.png" class="img-fluid" alt="">
              <h3>{{_("منشأة سعودية معتمدة")}}</h3>
              <h2 style="text-align: justify;">{{_("مزود خدمات فوترة الالكترونية")}}</h2>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1377" data-purecounter-duration="1" class="purecounter"></span>
                <p>{{_("عميل")}}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1455" data-purecounter-duration="1" class="purecounter"></span>
                <p>{{_("مشروع ناجح")}}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-headset" style="color: #15be56;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="3654" data-purecounter-duration="1" class="purecounter"></span>
                <p>{{_("الدعم الفنى")}}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="33" data-purecounter-duration="1" class="purecounter"></span>
                <p>{{_("موظف متميز")}}</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2></h2>
          <p>{{_("ما نتميز بة من خدمات")}}</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="/assets/trigger_solutions/trigger/assets/img/features.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>{{_("الحضور و الأنصراف")}}</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>{{_("الشبكات و برمجتها")}}</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>{{_("برمجة السنترالات")}}</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>{{_("برامج محاسبية")}}</h3>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- / row -->

        <!-- Feature Tabs -->
        <div class="row feture-tabs" data-aos="fade-up">
          <div class="col-lg-6">

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li>
                <a class="nav-link active" data-bs-toggle="pill" href="#tab1">{{_("الحضور و الأنصراف")}}</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab2">{{_("الشبكات و برمجتها")}}</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab3">{{_("برمجة السنترالات")}}</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab4">{{_("برامج محاسبية")}}</a>
              </li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">
                <p style="text-align: justify;">{{_("تسجيل مبعاد الحضور والانصراف بدعة بالغة أيضا إصدار تقرير يومي بالحضور والانصراف بخيارات متعددة حسب ورديات - العمل ) وفقا لاحتياجات المنشأة . التعامل مع الإجارات والمهمات والأعذار يطرق أسهل . وايضا أجهزة البصمة تمكنك من الرقابة الحازمة على الحضور والانصراف لموظفي شركتك بأفرعها")}}</p>
              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">
                <p style="text-align: justify;">{{_("نقوم بكافة الأعمال المتعلقة بتمديد الشبكات الداخلية للمؤسسات والشركات سواءا السلكية اللا سلكية كما لقوم بتجهير الحوادم الداخلية التي تخدم تواصل الموظفين بداخل الشركة وفروعها الخارجية تقدم مؤسسة أنماط خدمة تأسيس و صد الشبكات و الألياف البصرية المطورة")}}</p>
              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade show" id="tab3">
                <p style="text-align: justify;">{{_("ان الوظائف التي يوفرها السنترال الخاص تحويل المكالمات الخارجية القادمة الخارج إلى هاتف عرعي داخلي وكذلك الاتصال الداخلي ( من الداخل برشم خارجی خارجي تم تحويله إلى هاتف عربي آخر وإجراء المكالمات متعددة الأطراف . أيضا التمكن من تسجيل رد آلي خاص لإستقبال في حال الانشغال المكالمات WOL GUR")}}</p>
              </div><!-- End Tab 3 Content -->
              
              <div class="tab-pane fade show" id="tab4">
                <p style="text-align: justify;">{{_("مهمة جداً لكل مؤسسة وشركة بل ولكل صاحب مشروع او اي شخص لدية تدفقات نقدية أهمية برامج المحاسبة على الشركات والمؤسسات هي السرعة في انجاز المهام والدقة الفائقة في تسجيل البيانات واسترجاعها وعمل التقارير وتصديرها نضع لكم قائمة بأفضل برامج المحاسبة المجانية وايضاً المدفوعة كبرامج او تطبيقات او خدمات محاسبة سحابية وانت من تقرر أي البرامج انسب لك ولعملك")}}</p>
              </div><!-- End Tab 3 Content -->

            </div>

          </div>

          <div class="col-lg-6">
            <img src="/assets/trigger_solutions/trigger/assets/img/features-2.png" class="img-fluid" alt="">
          </div>

        </div><!-- End Feature Tabs -->

       

      </div>

    </section><!-- End Features Section -->

   
    <!-- ======= Pricing Section ======= -->
    <!-- <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>قائمة الأسعار</h2>
          <p>أبحث عن ما يناسبك </p>
        </header>

        <div class="row gy-4" data-aos="fade-left">

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3 style="color: #65c600;">مبتدئ</h3>
              <div class="price">19<sup>ر.س</sup><span> / الشهر</span></div>
              <img src="/assets/trigger_solutions/trigger/assets/img/pricing-starter.png" class="img-fluid" alt="">
              <ul>
                <li>ميزه 1</li>
                <li>ميزه 2</li>
                <li>ميزه 3</li>
                <li class="na">ميزه 4</li>
                <li class="na">ميزه 5</li>
              </ul>
              <a href="contact.html" class="btn-buy">شراء الان</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <span class="featured">الأكثر طلبا</span>
              <h3 style="color: #ff901c;">متوسط</h3>
              <div class="price"></sup>29<sup>ر.س</sup><span> / الشهر</span></div>
              <img src="/assets/trigger_solutions/trigger/assets/img/pricing-business.png" class="img-fluid" alt="">
              <ul>
                <li>ميزه 1</li>
                <li>ميزه 2</li>
                <li>ميزه 3</li>
                <li>ميزه 4</li>
                <li class="na">ميزه 5</li>
              </ul>
              <a href="contact.html" class="btn-buy">شراء الان</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
              <h3 style="color: #ff0071;">محترف</h3>
              <div class="price"></sup>49<sup>ر.س</sup><span> / الشهر</span></div>
              <img src="/assets/trigger_solutions/trigger/assets/img/pricing-ultimate.png" class="img-fluid" alt="">
              <ul>
                <li>ميزه 1</li>
                <li>ميزه 2</li>
                <li>ميزه 3</li>
                <li>ميزه 4</li>
                <li>ميزه 5</li>
              </ul>
              <a href="contact.html" class="btn-buy">شراء الان</a>
            </div>
          </div>

        </div>

      </div>

    </section> -->
    <!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <!-- <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>التعليمات</h2>
          <p>الأسئــلة الشائعـــة</p>
        </header>

        <div class="row">
          <div class="col-lg-6">
           <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    السؤال الأول ؟
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    تفاصيل السؤال الاول
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    السؤال الثاني ؟
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                   تفاصيل السؤال الثاني
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">

            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                    السؤال الثالث ؟
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                   تفاصيل السؤال الثالث
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    السؤال الرابع ؟
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    تفاصيل السؤال الرابع
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>  -->
    <!-- End F.A.Q Section -->

 
  

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2></h2>
          <p>{{_("عملائنا")}}</p>
        </header>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img style="width: 150px;height:100px" src="/assets/trigger_solutions/trigger/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img style="width: 150px;height:100px" src="/assets/trigger_solutions/trigger/assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img style="width: 150px;height:100px" src="/assets/trigger_solutions/trigger/assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img style="width: 150px;height:100px" src="/assets/trigger_solutions/trigger/assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img style="width: 150px;height:100px" src="/assets/trigger_solutions/trigger/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img style="width: 150px;height:100px" src="/assets/trigger_solutions/trigger/assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img style="width: 150px;height:100px" src="/assets/trigger_solutions/trigger/assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img style="width: 150px;height:100px" src="/assets/trigger_solutions/trigger/assets/img/clients/client-9.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img style="width: 150px;height:100px" src="/assets/trigger_solutions/trigger/assets/img/clients/client-10.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img style="width: 150px;height:100px" src="/assets/trigger_solutions/trigger/assets/img/clients/client-11.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img style="width: 150px;height:100px" src="/assets/trigger_solutions/trigger/assets/img/clients/client-12.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </section><!-- End Clients Section -->


      <!-- ======= Testimonials Section ======= -->
      <!-- <section id="testimonials" class="testimonials">

        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h2>الشهادات - التوصيات</h2>
            <p>ما يقوله العملاء عنا ..</p>
          </header>
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  </p>
                  <div class="profile mt-auto">
                    <img src="/assets/trigger_solutions/trigger/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                  </div>
                </div>
              </div> -->
              <!-- End testimonial item -->
  
              <!-- <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  </p>
                  <div class="profile mt-auto">
                    <img src="/assets/trigger_solutions/trigger/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                  </div>
                </div>
              </div> -->
              <!-- End testimonial item -->
  
              <!-- <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  </p>
                  <div class="profile mt-auto">
                    <img src="/assets/trigger_solutions/trigger/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                  </div>
                </div>
              </div> -->
              <!-- End testimonial item -->
  
              <!-- <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  </p>
                  <div class="profile mt-auto">
                    <img src="/assets/trigger_solutions/trigger/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                  </div>
                </div>
              </div> -->
              <!-- End testimonial item -->
  
              <!-- <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  </p>
                  <div class="profile mt-auto">
                    <img src="/assets/trigger_solutions/trigger/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                  </div>
                </div>
              </div> -->
              <!-- End testimonial item -->
  
            <!-- </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
  
      </section> -->
      <!-- End Testimonials Section -->
  

  </main><!-- End #main -->
{% endblock %}
